*{
    margin-bottom: 0px;
    padding: 0px;
    
}

body{
    background-color: black;
}


/*Card*/
.row{
   /* background-image: url(https://img1.goodfon.com/wallpaper/big/f/1b/abstract-dark-gradient.jpg);*/
    margin-bottom: 0px;
    width: auto;
    justify-content: center;
    
}

.card{
    width: 19%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    border-width: 3px;
    border-color: rgb(119, 119, 119);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 19%;
    min-width: 200px; 

}

.card-text{
    font-size: 2vh;
    max-height: 850px;
}


/* Classificação indicatoria*/
.text-muted1{
    color: black;
    background-color: orange;
    
}

.text-muted2{
    color: black;
    background-color: yellow;
    
}

.text-muted3{
    color: black;
    background-color: orange;
    
}

.text-muted4{
    color: black;
    background-color: yellow;
    
}

.text-muted5{
    color: black;
    background-color: green;
    
}

.text-muted6{
    color: black;
    background-color: red;
    
}

/*Titulo do filme*/
.title-bat1{
    color: white;
    -webkit-text-stroke:0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    
}

.title-ara1{
    color: white;
    -webkit-text-stroke:0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 5);
}

.title-pod1{
    color: white;
    -webkit-text-stroke:0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 5);
}

.title-unc1{
    color: white;
    -webkit-text-stroke:0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 5);
}

.title-sin1{
    color: white;
    -webkit-text-stroke:0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 5);
}


.title-exo1{
    color: white;
    -webkit-text-stroke:0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(5, 5, 5);
}


/*Genero do Filme*/
.text-muted{
    display: flex; 
    justify-content : center;
}


/*Footer*/
.footer-rodape{
    color: white;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(73, 73, 73, 0.425);
    margin-bottom: 0px;
    
    height: 22px;
}


